body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

header {
    padding: 20px;
    background: #020617;
    display: flex;
    gap: 10px;
    align-items: center;
}

header input {
    padding: 10px;
    flex: 1;
}

#catalogo {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background: #020617;
    border-radius: 10px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.info {
    padding: 10px;
}

.info button {
    padding: 8px;
    width: 100%;
    background: #22c55e;
    border: none;
    cursor: pointer;
}

/* CARRINHO */
.carrinho {
    position: fixed;
    right: 0;
    top: 0;
    width: 260px;
    height: 100%;
    background: #020617;
    padding: 15px;
    border-left: 2px solid #22c55e;
}

.carrinho ul {
    list-style: none;
    padding: 0;
}

.carrinho li {
    font-size: 14px;
    margin-bottom: 10px;
}

/* LOGIN */
.login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 50px;
    max-width: 300px;
    margin: auto;
}
